
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Assets/tableCoffee.css" rel="stylesheet" />

<div class="testdenemetablecoffee">
    <h2>Masalar</h2>
    <div id="Main-Container">
        
       
    </div>
</div>


<script src="~/Assets/tableScript.js"></script>