<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Assets/CoffeeShopCSS.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!--   NavBar -->
        <nav>
            <div class="con">
                <h1>Oklava<span>Coffee</span></h1>
                <ul>
                    <li>HOME
                    <li>
                    <li>ABOUT</li>
                    <li>MENU</li>
                    <li>FIND US</li>
                    <li>GALLERY</li>
                    <i class="fa fa-wheelchair" aria-hidden="true"></i>
                    <i class="fa fa-wifi" aria-hidden="true"></i>
                </ul>
            </div>
        </nav>
        <div class="header-center">
            <div class="con">
                <img class="pineapple" src="~/Assets/Pictures/CoffeeShopMain.jpg">
                <h2>Oklava<span>Coffee</span> </h2>
                <p>
                    Nişantaşı,İSTANBUL
                    TEL: +2 0111 0505 ***
                </p>
                <button>Make a Reservation</button>
            </div>
        </div>
    </header>

    <section>
        Dneme
        <div>
            @RenderBody()
        </div>

    </section>

    <footer>
        Test Deneme

    </footer>

</body>
</html>


