
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



 <!-- Our Dishes -->
<article class="Our-Dishes">

    <h3>Menü Listesi</h3>
    <div class="info-dishes">
        <i class="fa fa-heart-o" title="Likes"></i>Hey
        <i class="fa fa-clock-o" aria-hidden="true" title="The processing time"></i>Burada
        <i class="fa fa-fire" aria-hidden="true" title="Spicy food"></i>Hangi Masadan geldiği
        <i class="fa fa-usd" aria-hidden="true" title="The price"></i>Yaza
        <i class="fa fa-bolt" aria-hidden="true" title="Delivery Service"></i>acak
    </div><br>
    <div class="con">
        <div class="post post0">
            <img src="~/Assets/Pictures/turk-kahvesijpg.jpg">
            <h4>Türk Kahvesi </h4>
            <p>Özel olarak hazırlanmış kumda türk kahvesi </p>
            <div class="con2">
                <!--   <i class="fa fa-linux fa-circle " ></i> -->
                <i class="fa fa-heart-o" title="Likes"></i>321
                <i class="fa fa-clock-o" aria-hidden="true"></i>7min
                <i class="fa fa-fire" aria-hidden="true"></i>
                <i class="fa fa-usd" aria-hidden="true"></i>210
            </div>
            <button>Read More</button>
        </div>
    </div>
    <div class="con">
        <br><br><br>
        <hr class="style1">
        <br>
    </div>
</article>
